<h2 class="mb-4">Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "needs-validation" }) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :email, required: true, autofocus: true, input_html: { class: "form-control" } %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
  <% end %>

  <div class="form-group">
    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { class: "form-control", autocomplete: "new-password" } %>
  </div>

  <div class="form-group">
    <%= f.input :password_confirmation,
                required: false,
                input_html: { class: "form-control", autocomplete: "new-password" } %>
  </div>

  <div class="form-group">
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { class: "form-control", autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<h3 class="mt-4">Cancel my account</h3>

<div class="mt-2">
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
</div>

<%= link_to "Back", :back, class: "btn btn-secondary mt-4" %>
