<h1><%= @event.local %></h1>


<%= link_to "Sell ticket", new_event_ticket_path(@event.id)  %>

<ul>
<% @tickets.each do |ticket| %>
<li>
<div>
<p><%= ticket.sector %></p>
<small> R$<%= ticket.price %> </small>
<%= link_to "Buy ticket", new_event_ticket_order_path(@event, ticket) %>
</div>
</li>
<% end %>
</ul>
