<%= render "shared/banner" %>

<div class="mt-4" style="font-family: 'Indie Flower', cursive;" >
    <div class="col-md-12">
      <div class="description container">
        <h2>Confirm your purchase</h2>
        <h4>Local: <%= @event.local %></h4>
        <h4>Ticket price: R$<%= @ticket.price %></h4>
        <h4>Category: <%= @ticket.category.join %></h4>
        <div class="container m-2">
          <%= simple_form_for [@event, @ticket, @order] do |f| %>
          <%= f.input :pay_method, collection: ["Credit Card", "PayPal"] %>
            <%= f.submit "Buy ticket", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
