<h1>Sell ticket</h1>
<%= simple_form_for [@event, @ticket] do |f| %>
  <%= f.input :price %>
  <%= f.input :sector %>
  <%= f.input :category, collection: [["VIP"], ["Economy"]] %>
  <%= f.submit "Sell ticket", class: "btn btn-primary" %>
<% end %>
